@import './styles/style.scss';

@import './styles/variables.scss';


.drinks-wrapper {
    display: flex;
    max-width: 100vw;
    position: relative;
    background: #25212994;

    .filters-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-width: 9vw;
        padding: 15px;
        background: #201a1c4a;

        .Filters {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

        }
    }

    .result {
        flex: 5;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    .drink-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 14rem;
        margin: 7px;
        border: solid 1px#000;
        border-radius: $border-radius-size;

        transition: all ease-out .4s;

        &:hover {
            transform: scale(1.02);
            
            // filter: drop-shadow(5px, 5px, 5px, rgb(42, 31, 46));

            .drink-card {
                filter: drop-shadow(2px 4px 6px black);
            }

            .drink-card .image-wrapper img {
                transform: scale(1.06);
            }
        }
    }
}

.headerdrink {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    background: $primary-color;
}

.search-wrapper {

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;

    // background: $secondary-color;

    transition: height .5s;

    &.searched {
        height: 10vh;
    }

    .search,
    input {
        background: #222;
    }

    .search {
        padding: 0px 0px 0px 20px;
        border-radius: 30px;
        box-shadow: 0px 7px 6px 3px #22222278;
        max-width: 300px;
        min-width: 100px;
        width: 25%;
        display: flex;
        justify-content: space-between;
    }

    input {
        border: none !important;
        padding: 9px;
        color: white;
    }
}

.title {
    font-family: 'cool';
    font-size: 65px;
    color: white;
    font-weight: 100;
    margin: 0 20px;
}