@import "../../styles/variables.scss";

.drink {
    color: white;
    display: flex;

    .info {
        flex: 2;

        padding: 20px;

        >div {
            padding: 5px;
        }

        .name {
            font-size: 27px;
        }

        .category {
            span {
                font-style: italic;
            }
        }


        .chip-wrapper {
            display: flex;
            padding: 10px 0;
            font-size: 15px;
            flex-wrap: wrap;

            .chip {
                padding: 6px;
                border: solid 2px $accent-primary;
                border-radius: 10px;

                margin: 6px 4px 6px;

                label{
                    text-transform: uppercase;
                }

            }
        }
    }


    .photo-wrap {
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 13rem;
        }
    }

    .instruction {
        margin-top: 20px;
        font-size: 14px;
    }
}

.separator {
    margin: 10px 0;
}